{% extends 'base.html' %}
{% block content %}
  <div id="SAMEGRELO" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>SAMEGRELO</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.SAMEGRELO}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="KAXETI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>KAXETI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.KAXETI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="ABKHAZETI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>ABKHAZETI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.ABKHAZETI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>

  <div id="SHIDA_KARTLI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>SHIDA_KARTLI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.SHIDA_KARTLI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>

  <div id="KVEMO_KARTLI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>KVEMO_KARTLI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.KVEMO_KARTLI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="ADJARA" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>ADJARA</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.ADJARA}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="GURIA" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>GURIA</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.GURIA}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="IMERETI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>IMERETI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.IMERETI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="RACHA_LECHKHUMI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>RACHA_lECHKHUMI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.RACHA_LECHKHUMI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="SAMTSKHE_JAVAKHETI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>SAMTSKHE_JAVAKHETI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.SAMTSKHE_JAVAKHETI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
  <div id="MTSKHETA_MTIANETI" class="region" style="display:none">
      <font style="background-color: #e5a13e; font-size: 40px; font-family: 'Museo Sans'">
        <p1>MTSKHETA_MTIANETI</p1>
          </font>
            <div class="card">
          <div class="card-header">
            About
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
    {% for obj in Descriptions %}
              <p text-justify="AUTO">{{obj.MTSKHETA_MTIANETI}}</p>
    {% endfor %}
                <footer class="blockquote-footer">----<cite title="Source Title">ChatGPT</cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
{% endblock %}