<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello Georgia</title>
</head>
<body>
<font style="background-color: #e5a13e; font-size: 200px; font-family: 'Museo Sans'">
    {% block title%}
    {% endblock %}
    </font>
<br>
<br>
<br>
<font style="font-size: 50px; font-family: 'Museo Sans'">
{% block content %}

{% endblock %}
    </font>
<br>
<button onclick="location.href = '../add_visitor/'" type="button"  class="btn brn-success" style="font-size:50px; height:200px; width:500px">Sign Up for a tour</button>
</body>
</html>