{% extends 'baseForm.html' %}
html {
    height: 100%;
}

{% block content %}
<style>
body {
    min-height: 100%;
  background-image:
  url(https://c4.wallpaperflare.com/wallpaper/766/970/409/cities-city-building-cityscape-wallpaper-preview.jpg),
  url(https://c4.wallpaperflare.com/wallpaper/977/138/381/tbilisi-georgia-wallpaper-preview.jpg),
  url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t31.18172-8/28616317_1304594389642825_9025634682013255302_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=M_OzmJZvdwMQ7kNvgGCCnw7&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYBuCB_uOywgys2JJRNupr4ca455Ng572s3nuyDM2XnbFQ&oe=669D38FE),
  url(https://images.unsplash.com/photo-1577701122197-c9607038bd90?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D),
  url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/76953179_3140050239403620_7669142300076802048_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=O9ZiAj570skQ7kNvgG9TH3f&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYAMfOMbLOTsdtpykVXygEnxqwDqb65sSR0bG57JNCmbJw&oe=669D4A94),
  url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/68496753_1329339737241388_8300049317704499200_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=-Ksn7qnzZswQ7kNvgFjP8Hp&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYCtrG7joz5lUI29sFNTsoNVy2fUS_aiBrvb2KvuclKL_g&oe=669D39E2),
  url(https://mediaim.expedia.com/destination/1/86e3ee02a2379698ea0f459b727b1f1a.jpg),
  url(https://w0.peakpx.com/wallpaper/860/556/HD-wallpaper-adishi-village-summer-beautiful-nature-upper-svaneti-georgia-asia-georgian-nature-mountains.jpg);
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: center top, left top, left bottom, left center,right top,right center,right bottom,center bottom;
  background-attachment: fixed,fixed,fixed,fixed,fixed,fixed,fixed,fixed;
  background-size: 50% 50%,30% 33%,30% 33%,50% 50%,30% 33%,50% 40%,30% 33%,50% 50%;
}

.headera {
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: #283a2c;
font-family: 'Museo Sans';
position: absolute;
font-size: 100px;
top: -2%;
left: 10%;
z-index: 3;

}

.container:hover .overlay {
  opacity: 1;
}



.overlay {
  position: absolute;
  attachment: fixed;
  top: 0;
  bottom: 0;
  left: -100px;
  right: 0;
  height: auto;
  width: 1500px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  background-size: 100% 100%;
  z-index:-1;
}

.text {
background-color: #e5a13e;
color: black;
font-size: 40px;
position: absolute;
top: 15%;
left: 60%;
text-align: left;
font-family: 'Museo Sans';
z-index: 6;
}

.hint {
position: absolute;
top: 90%;
left: 30%
}
.map{
position: absolute;
top: -5px;
left: 100px;
z-index: 2;
}


</style>

<div class="headera" style="text-align: center; color: #fef9e9;" id="666">WELCOME TO GEORGIA </div>
<div class="map" style="text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Regions_of_Georgia.svg/1100px-Regions_of_Georgia.svg.png" id="map-image" style="width:100%;  max-width: 100%; height: auto;" alt="" usemap="#map" />
    <map name="map">
        <div class="container">
        <area shape="poly" coords="410, 140, 363, 145, 342, 180, 319, 184, 328, 256, 270, 307, 282, 373, 337, 360, 375, 373, 378, 354, 426, 281, 417, 244, 388, 226, 410, 204, 500, 216, 517, 202, 493, 172, 465, 148, 440, 163" href="about/?region=SAMEGRELO" alt="Samegrelo" title="SAMEGRELO" />
            <div class="overlay" style=" background-image: url(https://cdn.georgiantravelguide.com/storage/files/foti-samegrelo-poti-samegrelo-1.jpg)">
            <div class="text" style="alignment: center; Z-index: 6">SAMEGRELO</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="357, 146, 277, 138, 134, 63, 95, 63, 52, 60, 37, 95, 80, 112, 82, 145, 117, 150, 179, 183, 209, 226, 253, 237, 268, 305, 324, 255, 312, 179, 343, 177" href="about/?region=ABKHAZETI" alt="Abkhazeti" title="ABKHAZETI" />
        <div class="overlay" style=" background-image: url(https://cdn.georgiantravelguide.com/storage/files/prometes-mghvime-prometheus-cave-kumistavi.jpg)">
            <div class="text" style="alignment: center">ABKHAZETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="631, 460, 622, 469, 600, 468, 597, 493, 630, 500, 641, 571, 771, 567, 840, 518, 807, 445, 799, 440, 785, 447, 803, 466, 792, 482, 736, 481, 729, 464, 693, 460" href="about/?region=KVEMO_KARTLI" alt="KVEMO_KARTLI" title="KVEMO_KARTLI" />
        <div class="overlay" style=" background-image: url(https://www.oktravel.ge/uploads/offers/large/644_2.jpg?v=4)">
            <div class="text" style="alignment: center">KVEMO KARTLI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="851, 294, 812, 384, 834, 424, 808, 436, 846, 509, 918, 539, 909, 548, 952, 579, 999, 574, 1033, 597, 1060, 584, 1068, 542, 1002, 497, 981, 455, 1024, 431, 1021, 414, 894, 367, 896, 343, 916, 339, 918, 305, 876, 289" href="about/?region=KAXETI" alt="KAXETI" title="KAXETI" />
        <div class="overlay" style=" background-image: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/307303844_592264546023980_1995944741836885250_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=L1t0zKB1RNwQ7kNvgHBaM-0&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYC-rMK8LCaZpamvIiSKEFkMdgR9n9jjXXneGhkkMdcgfg&oe=667BBAD8)">
            <div class="text" style="alignment: center">KAXETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="688, 267, 752, 250, 767, 280, 781, 253, 846, 284, 805, 384, 825, 422, 782, 440, 757, 437, 746, 447, 750, 460, 740, 466, 722, 452, 737, 423, 724, 393, 692, 390, 694, 368, 710, 351, 701, 311" href="about/?region=MTSKHETA_MTIANETI" alt="MTSKHETA_MTIANETI" title="MTSKHETA_MTIANETI" />
        <div class="overlay" style=" background-image: url(https://storage.georgia.travel/images/mtskheta-in-georgia.webp)">
            <div class="text" style="alignment: center">MTSKHETA-MTIANETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="434, 435, 418, 448, 411, 462, 428, 482, 462, 484, 454, 503, 469, 508, 515, 546, 516, 565, 548, 573, 606, 589, 636, 579, 620, 503, 592, 500, 599, 463, 619, 463, 625, 453, 566, 418, 454, 445" href="about/?region=SAMTSKHE_JAVAKHETI" alt="SAMTSKHE_JAVAKHETI" title="SAMTSKHE_JAVAKHETI" />
        <div class="overlay" style=" background-image: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/100099638_2757440884477988_8300779737022726144_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=nvrCw3IjYi4Q7kNvgHd61Xm&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYAdcSEx4V3G65L8Kuq8l3Ih_iUCGiU5eLGAJ8nl7cNoCw&oe=669D66D8)">
            <div class="text" style="alignment: center">SAMTSKHE-JAVAKHETI</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="562, 406, 633, 454, 715, 456, 728, 426, 717, 398, 685, 395, 687, 366, 703, 345, 686, 276, 646, 281, 606, 308, 612, 331, 593, 350" href="about/?region=SHIDA_KARTLI" alt="SHIDA KARTLI!!!" title="SHIDA KARTLI!!!" />
        <div class="overlay" style=" background-image: url(https://storage.georgia.travel/images/gori-panoramic-view.webp)">
            <div class="text" style="alignment: center">SHIDA KARTLI</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="296, 419, 286, 463, 265, 471, 257, 492, 307, 515, 323, 494, 336, 503, 404, 514, 423, 484, 405, 462, 409, 446, 357, 445, 317, 430" href="about/?region=ADJARA" alt="ADJARA" title="ADJARA" />
        <div class="overlay" style=" background-image: url(https://cdnn1.img.sputnik-georgia.com/img/07e5/06/02/251906565_40:0:1240:675_1920x0_80_0_0_dd7416b6acf2a5a2d69855143b822b2a.jpg)">
            <div class="text" style="alignment: center">ADJARA</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="289, 377, 338, 366, 368, 378, 370, 393, 394, 393, 415, 418, 430, 418, 423, 440, 360, 439, 325, 427, 319, 415, 296, 416" href="about/?region=GURIA" alt="GURIA" title="GURIA" />
        <div class="overlay" style=" background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a6/Guria%2C_Region_in_Georgia.jpg)">
            <div class="text" style="alignment: center">GURIA</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="523, 208, 585, 224, 616, 249, 602, 274, 636, 286, 578, 312, 538, 306, 507, 322, 433, 288, 422, 243, 397, 226, 414, 208, 496, 222" href="about/?region=RACHA_LECHKHUMI" alt="RACHA_LECHXUMI" title="RACHA-LECHXUMI, KVEMO SVANETI!!!" />
        <div class="overlay" style=" background-image: url(https://mbg.ge/uploads/locblogs/large/9ebf11c3a51fff3e6684edf8cea886d1.jpg)">
            <div class="text" style="alignment: center">RACHA-LECHXUMI, KVEMO SVANETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="427, 295, 383, 357, 378, 388, 395, 386, 416, 409, 435, 412, 435, 430, 449, 440, 559, 416, 552, 406, 584, 358, 584, 342, 607, 327, 592, 312, 575, 321, 538, 312, 509, 329" href="about/?region=IMERETI" alt="IMERETI" title="IMERETI" />
        <div class="overlay" style=" background-image: url(https://dmo.ge/photos/region/3846498937.jpg)">
            <div class="text" style="alignment: center">IMERETI</div>
            </div>
        </div>
    </map>
<div  class="hint" style="background-color:#cfe7e5; text-align: center; font-size: 30px;  color: black; ">Choose region you wish to visit on a map!!!</div>
</div>

{% endblock %}