1
{% extends 'baseForm.html' %}
{% block title %} <title>Welcome Page</title>{%endblock%}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=0.5">

<style>
body {
  background-image:
  url(https://c4.wallpaperflare.com/wallpaper/766/970/409/cities-city-building-cityscape-wallpaper-preview.jpg),
  url(https://c4.wallpaperflare.com/wallpaper/977/138/381/tbilisi-georgia-wallpaper-preview.jpg),
  url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t31.18172-8/28616317_1304594389642825_9025634682013255302_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=M_OzmJZvdwMQ7kNvgGCCnw7&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYBuCB_uOywgys2JJRNupr4ca455Ng572s3nuyDM2XnbFQ&oe=669D38FE),
  url(https://images.unsplash.com/photo-1577701122197-c9607038bd90?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D),
  url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/76953179_3140050239403620_7669142300076802048_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=O9ZiAj570skQ7kNvgG9TH3f&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYAMfOMbLOTsdtpykVXygEnxqwDqb65sSR0bG57JNCmbJw&oe=669D4A94),
  url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/68496753_1329339737241388_8300049317704499200_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=-Ksn7qnzZswQ7kNvgFjP8Hp&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYCtrG7joz5lUI29sFNTsoNVy2fUS_aiBrvb2KvuclKL_g&oe=669D39E2),
  url(https://mediaim.expedia.com/destination/1/86e3ee02a2379698ea0f459b727b1f1a.jpg),
  url(https://w0.peakpx.com/wallpaper/860/556/HD-wallpaper-adishi-village-summer-beautiful-nature-upper-svaneti-georgia-asia-georgian-nature-mountains.jpg);
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: center top, left top, left bottom, left center,right top,right center,right bottom,center bottom;
  background-attachment: fixed,fixed,fixed,fixed,fixed,fixed,fixed,fixed;
  background-size: 50% 50%,30% 33%,30% 33%,50% 50%,30% 33%,50% 40%,30% 33%,50% 50%;
}

h1{
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: #283a2c;
font-family: 'Museo Sans';
}

.container:hover .overlay {
  opacity: 1;
}



.overlay {
  position: absolute;
  attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  background-size: 100% 100%;
  z-index:-1;
}

.text {
background-color: #e5a13e;
  color: black;
  font-size: 200px;
  top: 50%;
  left: 50%;
  text-align: left;
  font-family: 'Museo Sans';
}


</style>

<h1 style="text-align: center; font-size: 300; color: #fef9e9; z-index:-3" id="666">WELCOME TO GEORGIA </h1>
<div class="text" style="background-color:#cfe7e5; text-align: center; font-size: 100;  color: black; ">Choose region you wish to visit on a map!!!</div>
<div style="text-align: center; z-index: 2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Georgia.svg/1920px-Georgia.svg.png" border='20' id="map-image" style="width: 1920px;  max-width: 100%; height: auto; border-color: #213638;" alt="" usemap="#map" />
    <map name="map">
        <div class="container">
        <area  shape="poly" coords="609, 234, 559, 254, 585, 388, 472, 474, 508, 582, 621, 536, 665, 571, 740, 419, 764, 414, 736, 373, 696, 322, 709, 278, 876, 290, 903, 262, 822, 191, 637, 179, 639, 180, 639, 180, 630, 193, 630, 194" alt="Samegrelo" href="Samegrelo/" title="SAMEGRELO!!!" id="IDSamegrelo"/>
            <div class="overlay" style=" background-image: url(https://cdn.georgiantravelguide.com/storage/files/foti-samegrelo-poti-samegrelo-1.jpg)">
            <div class="text" style="alignment: center">SAMEGRELO</div>
            </div>
        </div>
        <div class="container">
        <area class="mama" shape="poly" coords="85, 49, 53, 111, 121, 139, 140, 200, 339, 258, 369, 331, 449, 348, 473, 462, 577, 384, 550, 244, 607, 228, 628, 186, 489, 169, 234, 50, 206, 67, 123, 38" alt="Abkhazeti" href="Abkhazeti/" title="ABKHAZETI!!!" id="IDAbkhazeti"/>
        <div class="overlay" style=" background-image: url(https://cdn.georgiantravelguide.com/storage/files/prometes-mghvime-prometheus-cave-kumistavi.jpg)">
            <div class="text" style="alignment: center">ABKHAZETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="1117, 710, 1105, 726, 1069, 732, 1058, 784, 1111, 788, 1136, 919, 1359, 906, 1352, 884, 1392, 890, 1487, 819, 1441, 770, 1454, 726, 1410, 682, 1346, 693, 1325, 729, 1307, 740, 1280, 718" alt="KVEMO KARTLI" href="Kvemo_Kartli/" title="KVEMO KARTLI!!!" id="IDKVEMO_KARTLI"/>
        <div class="overlay" style=" background-image: url(https://www.oktravel.ge/uploads/offers/large/644_2.jpg?v=4)">
            <div class="text" style="alignment: center">KVEMO KARTLI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="1485, 414, 1605, 444, 1598, 512, 1561, 529, 1784, 650, 1726, 700, 1726, 752, 1773, 807, 1866, 863, 1870, 899, 1852, 951, 1761, 948, 1714, 915, 1590, 877, 1607, 855, 1495, 814, 1453, 770, 1461, 722, 1422, 685, 1441, 526, 1478, 489" alt="Kaxeti" href="Kaxeti/" title="KAXETI!!!" id="IDKaxeti"/>
        <div class="overlay" style=" background-image: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t39.30808-6/307303844_592264546023980_1995944741836885250_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=L1t0zKB1RNwQ7kNvgHBaM-0&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYC-rMK8LCaZpamvIiSKEFkMdgR9n9jjXXneGhkkMdcgfg&oe=667BBAD8)">
            <div class="text" style="alignment: center">KAXETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="1208, 367, 1207, 396, 1249, 523, 1218, 558, 1222, 592, 1263, 592, 1298, 659, 1278, 704, 1317, 727, 1343, 687, 1419, 672, 1432, 523, 1467, 488, 1478, 407, 1440, 355, 1365, 346, 1354, 390, 1323, 350" alt="MTSKHETA-MTIANETI" href="Mtskheta_Mtianeti/" title="MTSKHETA-MTIANETI!!!" id="IDMTSKHETA-MTIANETI"/>
        <div class="overlay" style=" background-image: url(https://storage.georgia.travel/images/mtskheta-in-georgia.webp)">
            <div class="text" style="alignment: center">MTSKHETA-MTIANETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="746, 712, 772, 766, 824, 775, 822, 813, 920, 882, 942, 917, 1128, 927, 1102, 794, 1049, 791, 1066, 723, 1102, 717, 990, 651, 906, 688, 780, 688" alt="SAMTSKHE-JAVAKHETI" href="Samtskhe_Javakheti/" title="SAMTSKHE-JAVAKHETI!!!" id="IDSAMTSKHE-JAVAKHETI"/>
        <div class="overlay" style=" background-image: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.6435-9/100099638_2757440884477988_8300779737022726144_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=nvrCw3IjYi4Q7kNvgHd61Xm&_nc_ht=scontent.ftbs6-2.fna&oh=00_AYAdcSEx4V3G65L8Kuq8l3Ih_iUCGiU5eLGAJ8nl7cNoCw&oe=669D66D8)">
            <div class="text" style="alignment: center">SAMTSKHE-JAVAKHETI</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="1196, 389, 1059, 456, 1081, 493, 1052, 509, 991, 645, 1102, 705, 1262, 713, 1289, 659, 1255, 602, 1210, 604, 1212, 547, 1236, 522" alt="Shida kartli" href="Shida_Kartli/" title="SHIDA KARTLI!!!" id="IDSHIDA_KARTLI"/>
        <div class="overlay" style=" background-image: url(https://storage.georgia.travel/images/gori-panoramic-view.webp)">
            <div class="text" style="alignment: center">SHIDA KARTLI</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="536, 667, 476, 793, 549, 819, 587, 793, 730, 823, 757, 776, 733, 729, 734, 693, 615, 694, 572, 659" alt="ADJARA" href="Adjara/" title="ADJARA!!!" id="IDADJARA"/>
        <div class="overlay" style=" background-image: url(https://cdnn1.img.sputnik-georgia.com/img/07e5/06/02/251906565_40:0:1240:675_1920x0_80_0_0_dd7416b6acf2a5a2d69855143b822b2a.jpg)">
            <div class="text" style="alignment: center">ADJARA</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="523, 586, 590, 556, 678, 599, 777, 652, 764, 686, 711, 686, 615, 685, 576, 654, 532, 655" alt="Guria" href="Guria/" title="GURIA!!!" id="IDGuria"/>
        <div class="overlay" style=" background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a6/Guria%2C_Region_in_Georgia.jpg)">
            <div class="text" style="alignment: center">GURIA</div>
            </div>
        </div>
       <div class="container">
        <area shape="poly" coords="720, 284, 704, 317, 789, 437, 853, 439, 853, 476, 897, 481, 931, 456, 1023, 454, 1103, 430, 1125, 418, 1058, 390, 1083, 349, 1004, 300, 906, 273, 879, 302" alt="RACHA_LECHXUMI" href="Racha_Lechkhumi/" title="RACHA-LECHXUMI, KVEMO SVANETI!!!" id="IDRacha_Lechxumi"/>
        <div class="overlay" style=" background-image: url(https://mbg.ge/uploads/locblogs/large/9ebf11c3a51fff3e6684edf8cea886d1.jpg)">
            <div class="text" style="alignment: center">RACHA-LECHXUMI, KVEMO SVANETI</div>
            </div>
        </div>
        <div class="container">
        <area shape="poly" coords="768, 422, 741, 433, 675, 574, 784, 651, 783, 677, 916, 673, 981, 644, 1047, 500, 1071, 489, 1025, 464, 929, 468, 897, 493, 844, 480, 847, 449, 785, 448" alt="Imereti" href="Imereti/" title="IMERETI!!!" id="IDImereti"/>
        <div class="overlay" style=" background-image: url(https://dmo.ge/photos/region/3846498937.jpg)">
            <div class="text" style="alignment: center">IMERETI</div>
            </div>
        </div>
    </map>

</div>
{% for post in posts %}

{% endfor %}
{% endblock %}